<ion-header>
  <ion-toolbar>
    <ion-title>Welcome to Shoppings!</ion-title>
  </ion-toolbar>
</ion-header>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input placeholder="" type="password"></ion-input>
      </ion-item>
      <p><em>Are you ready to elevate your shopping experience?</em></p>
      <ion-button expand="full">
        <ion-icon name="log-in-outline"></ion-icon>Sign in</ion-button
      >
    </ion-col>
  </ion-row>
</ion-grid>

<ion-content> </ion-content>
